@use 'mixins';
.about{
    &__container{
    @include mixins.flex-column;
    padding: 8rem 2rem;
    line-height: 1.6;
    gap: 4rem; /* Cria um espaço entre os dois */
    }
    &__image img{
    width: 100%; /* Garante que a imagem não ultrapasse o limite dos 40% */
    height: auto;
    border-radius: 1rem;
    }
}

@media (min-width: 680px) {
    .about{
    &__container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centraliza verticalmente o texto com a imagem */
    gap: 4rem; /* Cria um espaço entre os dois */
    }

    &__text{
    flex-basis: 50%; /* O texto começa tentando ocupar 60% */
    }

    &__image{
    flex-basis: 50%; /* A imagem começa tentando ocupar 40% */
    }

    &__image img{
    width: 100%; /* Garante que a imagem não ultrapasse o limite dos 40% */
    height: auto;
    border-radius: 1rem;
    }

    }

    
}
