@use 'variaveis';
.btn-main {
    display: inline-block;
    background-color: variaveis.$accent; /* Agora usando seu novo azul #35568C */
    color: variaveis.$text-main;
    padding: 1.5rem 3.5rem;
    border-radius: 5rem;
    font-size: variaveis.$font_size+0.2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
    margin-top: 2rem;
    /* Adicione uma borda leve para destacar o azul no fundo escuro */
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    &:hover {
    /* No hover, podemos deixar o azul um pouco mais claro para dar brilho */
    background-color: #4a73b5; 
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(53, 86, 140, 0.4);
    opacity: 1;
    }

    /* Efeito ao clicar */
    &:active {
        transform: translateY(-1px);
    }
}
