@use 'variaveis';
@use 'mixins';
.contact {
    padding: 8rem 2rem;
    &__subtitle {
    text-align: center;
    color:variaveis.$text-muted;
    margin-bottom: 4rem;
    font-size: 1.8rem;
    }
    &__wrapper {
    max-width: 600px;
    margin: 0 auto; /* Centraliza o formulário na tela */
    }
    &__form {
    @include mixins.flex-column;
    gap: 2rem;
    }
    &__input-group {
    @include mixins.flex-column;
    gap: 0.8rem;
    }
    &__input-group label {
    font-size: 1.4rem;
    color: variaveis.$text-main;
    font-weight: bold;
    }
    &__input-group input, &__input-group textarea {
    background-color: variaveis.$bg-secondary;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    padding: 1.5rem;
    color: variaveis.$text-main;
    font-size: 1.6rem;
    outline: none;
    transition: border-color 0.3s;
    }
    &__input-group input:focus, &__input-group textarea:focus {
    border-color: variaveis.$accent; /* Dá o brilho azul quando o usuário clica */
    }
    &__form .btn-main {
    width: 100%; /* No mobile, o botão ocupa tudo para facilitar o clique */
    cursor: pointer;
    }
}
