@use 'variaveis';
@use 'mixins';
.hero {
    height: 100vh; 
    @include mixins.flex-center;
    text-align: center;
    padding: 2rem;

    &__content p {
    font-size:1.8rem;
    color: variaveis.$text-muted;
    margin-bottom: 3rem;
    }
    &__content h1 {
    font-size: 4rem; /* Tamanho grande para destaque */
    margin-bottom: 2rem;
    color: variaveis.$accent;
    }
}


@media (min-width: 680px) {
    .hero {
        padding-top: 8vh;
    }

}
