@use 'variaveis';
.services {
    padding: 8rem 2rem;
    background-color: variaveis.$bg-secondary; /* Para dar contraste com o fundo principal */

    &__grid {
    display: grid;
    /* A linha mágica aqui: */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem; /* Espaçamento entre os cards */
    margin-top: 4rem;
    }
    &__card {
    background-color: variaveis.$bg-primary;
    padding: 3rem;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: transform 0.3s;
    }
    &__card:hover {
    transform: translateY(-10px);
    border-color: variaveis.$accent;
    }
}
