@use 'variaveis';
@use 'mixins';
.testimonials {
    padding: 8rem 2rem;

    &__container {
    @include mixins.flex-row-between;
    flex-wrap: wrap; /* Para quebrar linha no mobile */
    gap: 3rem;
    }
    &__card {
    background-color: variaveis.$bg-secondary;
    padding: 4rem;
    border-radius: 1.5rem;
    position: relative; /* Necessário para posicionar as aspas se quiser */
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    }

    &__quote-icon {
    font-family: serif;
    font-size: 8rem;
    color: variaveis.$accent;
    opacity: 0.3;
    line-height: 1;
    display: block;
    margin-bottom: -2rem; /* Puxa o texto para cima das aspas */
    }
    &__client-info {
    margin-top: 2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 1.5rem;
    }
    &__client-info strong {
    display: block;
    color: variaveis.$text-main;
    }
    &__client-info span{
    color: variaveis.$text-muted;
    font-size: 1.4rem;
    }
}
